/* ANIMATIONS */

.recently-added {
  animation: recently-added 1s ease-in-out;
}

@keyframes recently-added {
  /* put a focus background to let the user know it was just added */
  0% {
    background-color: #2196f31f;
  }

  100% {
    background-color: transparent;
  }
}
